Repository DFE-Digital/find-information-about-academies-and-trusts, changes with the owners that CODEOWNERS names for each.
All owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury, @drizzlyowl, @stretch96, @CMurrell148

CODEOWNERS:

# This sets the default owner for all code.
* @dneed-nimble @dynamictulip @nimblelinzi @SteBradbury

# This sets the owner for DevOps related code
.github/workflows/* @drizzlyowl @stretch96 @dneed-nimble @dynamictulip @nimblelinzi @SteBradbury
docker/* @drizzlyowl @stretch96 @dneed-nimble @dynamictulip @nimblelinzi @SteBradbury
terraform/* @drizzlyowl @stretch96 @dneed-nimble @dynamictulip @nimblelinzi @SteBradbury

# This sets the owner for Cypress tests.
tests/DFE.FindInformationAcademiesTrusts.CypressTests/ @CMurrell148 @dneed-nimble @dynamictulip @nimblelinzi @SteBradbury

Make trust repository break if TRN doesn't exist.
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Exceptions/DataIntegrityException.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/TrustRepository.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/TrustRepositoryTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

add table testdataids
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/FreeSchools.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PostAdvisoryBoard.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PreAdvisoryBoard.cshtml
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Update supercharge-your-dev-environment.md
  docs/supercharge-your-dev-environment.md
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Update supercharge-your-dev-environment.md
  docs/supercharge-your-dev-environment.md
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Update supercharge-your-dev-environment.md
  docs/supercharge-your-dev-environment.md
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Update supercharge-your-dev-environment.md
  docs/supercharge-your-dev-environment.md
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Sonar linting steps (#727)
  docs/supercharge-your-dev-environment.md
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Move pipeline academy dbcontext setup to `MockAcademiesDbContext`
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/PipelineEstablishmentRepository/GetAcademiesPipelineSummaryAsyncTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/PipelineEstablishmentRepository/PipelineEstablishmentRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/PipelineEstablishmentRepositoryTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Add data source tests for new datasources
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/DataSourceRepositoryTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

add method to produce pipeline academies download
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PipelineAcademiesAreaModel.cs.cs
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  docs/supercharge-your-dev-environment.md
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Remove redundant code highlighted by mutation tests
  DfE.FindInformationAcademiesTrusts/Services/Academy/AcademyService.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Rename new entities to be singular rather than plural
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.MstrAcademyConversions.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.MstrAcademyTransfers.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Models/Mstr/MstrAcademyConversion.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Models/Mstr/MstrAcademyTransfer.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/PipelineEstablishmentRepository.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

update Free schools hook
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/FreeSchools.cshtml
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

add tests and page objects
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/ofsted-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/pipeline-academies.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/pipelineAcademiesPage.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

formatted download, updated unit tests
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PipelineAcademiesAreaModel.cs.cs
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/Pipeline/PipelineAcademiesAreaModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

v5.0.0 of Container App release workflow
  .github/workflows/deploy-to-environment.yml
Owners: @drizzlyowl, @stretch96, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

updated get trust reference number to use trust service
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

remove unnecessary assignments and comment
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

switch from using trust service to trust repository to retrieve trust ref number
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Refactor existing academies test spec and PO to in this trust
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/navigation.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/academies-in-trust.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/academiesInTrustPage.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

add table testdataids
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/FreeSchools.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PostAdvisoryBoard.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PreAdvisoryBoard.cshtml
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

add page objects
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/pipeline-academies.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/pipelineAcademiesPage.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

add more tests and PO items
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/pipeline-academies.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/pipelineAcademiesPage.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

contacts test fixes
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/contacts-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/contactsPage.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

update Free schools hook
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/FreeSchools.cshtml
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

fix shg tests
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/ofsted-page.cy.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

download test fix
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/academies-in-trust.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/data-download-trust.cy.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

add new nav tests and update all existing to new urls
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/navigation.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/pipeline-academies.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/navigation.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

add tests and page objects
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/ofsted-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/pipeline-academies.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/pipelineAcademiesPage.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

addressing Saras PR comments
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/navigation.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Update export service setup in pipelin pages unit tests
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/Pipeline/BasePipelineAcademiesAreaModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

fix testdatastore code smell
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/pipeline-academies.cy.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

datasource test fix
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/support/test-data-store.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Remove `FeatureFlags.PipelineAcademies`
  DfE.FindInformationAcademiesTrusts/Configuration/FeatureFlags.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/AcademiesAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/AcademiesInTrustAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/Details.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/FreeSchoolMeals.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/PupilNumbers.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/FreeSchools.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PipelineAcademiesAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PostAdvisoryBoard.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PreAdvisoryBoard.cshtml.cs
  DfE.FindInformationAcademiesTrusts/appsettings.json
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/BaseAcademiesAreaModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/InTrust/DetailsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/InTrust/FreeSchoolMealsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/InTrust/PupilNumbersModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/Pipeline/FreeSchoolsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/Pipeline/PostAdvisoryBoardModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/Pipeline/PreAdvisoryBoardModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

replaced mock with nsubstitute in fiatdb tests
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/BaseFiatDbTest.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/Contexts/SetChangedByInterceptorTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests.csproj
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/GlobalUsings.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

add automation test for pipeline download button
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/pipeline-academies.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/pipelineAcademiesPage.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

dynamically set data test id on academies export button
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/AcademiesExportButtonModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/Details.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/FreeSchoolMeals.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/PupilNumbers.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/FreeSchools.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PostAdvisoryBoard.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PreAdvisoryBoard.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/_AcademiesExportButton.cshtml
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/pipeline-academies.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/pipelineAcademiesPage.ts
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury, @CMurrell148

update no data trust to a new one as the old has been removed
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/governance-page.cy.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

pagination test update to new search result returned number
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/pagination.cy.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Order academies alphabetically
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury
