Repository DFE-Digital/find-information-about-academies-and-trusts, changes with the owners that CODEOWNERS names for each.
All owners: @dneed-nimble, @dynamictulip, @nwarms, @drizzlyowl, @stretch96, @CMurrell148

CODEOWNERS:

# This sets the default owner for all code.
* @dneed-nimble @dynamictulip @nwarms

# This sets the owner for DevOps related code
.github/workflows/* @drizzlyowl @stretch96
docker/* @drizzlyowl @stretch96
terraform/* @drizzlyowl @stretch96

# This sets the owner for Cypress tests.
tests/DFE.FindInformationAcademiesTrusts.CypressTests/ @CMurrell148

Removed redundant legacy code (factories, old models etc)
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Factories/AcademyFactory.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Factories/GovernorFactory.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Factories/PersonFactory.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Factories/TrustFactory.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/TrustProvider.cs
  DfE.FindInformationAcademiesTrusts.Data.Hardcoded/FreeSchoolMealsAverageProvider.cs
  DfE.FindInformationAcademiesTrusts.Data/Academy.cs
  DfE.FindInformationAcademiesTrusts.Data/IFreeSchoolMealsAverageProvider.cs
  DfE.FindInformationAcademiesTrusts.Data/ITrustProvider.cs
  DfE.FindInformationAcademiesTrusts.Data/Repositories/Trust/Governor.cs
  DfE.FindInformationAcademiesTrusts.Data/Trust.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Details.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/FreeSchoolMeals.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/OfstedRatings.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/PupilNumbers.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  DfE.FindInformationAcademiesTrusts/Services/Trust/TrustGovernanceServiceModel.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Factories/AcademyFactoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Factories/GovernorFactoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Factories/PersonFactoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Factories/TrustFactoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/TrustProviderTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.UnitTests/AcademyTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.UnitTests/Mocks/DummyAcademyFactory.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.UnitTests/Mocks/DummyGovernorFactory.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.UnitTests/Mocks/DummyTrustFactory.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/AcademiesDetailsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/AcademiesPageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/FreeSchoolMealsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/OfstedRatingsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/PupilNumbersModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Contacts/EditContactModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Contacts/EditSfsoLeadModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Contacts/EditTrustRelationshipManagerModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/ContactsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/DetailsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/GovernanceModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/OverviewModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/TrustsAreaModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

add cookie tests
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/cookies.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/cookiesPage.ts
Owners: @CMurrell148

Mock new services in export tests
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Updated changelog to reflect trust provider and export changes
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Adding tests for percentage full calculation
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

add PR feedback suggestions
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/cookies.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/cookiesPage.ts
Owners: @CMurrell148

Create record for ExternalServiceLinks
  DfE.FindInformationAcademiesTrusts.Data/ExternalServiceLink.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Exclude code from unneccesary coverage checks
  DfE.FindInformationAcademiesTrusts.Data/ExternalServiceLink.cs
  DfE.FindInformationAcademiesTrusts/Pages/ViewConstants.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add ExternalServiceLinks to view constants
  DfE.FindInformationAcademiesTrusts/Pages/ViewConstants.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update CHANGELOG
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update the index page layout Reference the view constants for service links
  DfE.FindInformationAcademiesTrusts/Pages/Index.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Change anti forgery token name
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update anti forgery cookie name on cookie page
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update cypress test to detect new cookie name
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/cookies.cy.ts
Owners: @CMurrell148

Update cookie delete method to makre sure the auth cookie is being removed
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update CHANGELOG
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update to v1.15.0 of Container App module
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @drizzlyowl, @stretch96

Update to v1.15.0 of Container App module (#576)
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @drizzlyowl, @stretch96

Refactor export ofsted testing to account for change
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Removed redunant sevicemodel
  DfE.FindInformationAcademiesTrusts/Services/Export/AcademiesExportServiceModel.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Refactor export ofsted testing to account for change
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Removal of export reliance on trust provider
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/AcademiesPageModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Details.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/FreeSchoolMeals.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/OfstedRatings.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/PupilNumbers.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts/EditContactModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts/EditSfsoLead.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts/EditTrustRelationshipManager.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Details.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Governance.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Overview.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/TrustsAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  DfE.FindInformationAcademiesTrusts/Services/Export/AcademiesExportServiceModel.cs
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  DfE.FindInformationAcademiesTrusts/Services/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/AcademiesDetailsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/AcademiesPageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/FreeSchoolMealsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/OfstedRatingsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/PupilNumbersModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Removed redunant sevicemodel
  DfE.FindInformationAcademiesTrusts/Services/Export/AcademiesExportServiceModel.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Removed redundant legacy code (factories, old models etc)
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Factories/AcademyFactory.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Factories/GovernorFactory.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Factories/PersonFactory.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Factories/TrustFactory.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/TrustProvider.cs
  DfE.FindInformationAcademiesTrusts.Data.Hardcoded/FreeSchoolMealsAverageProvider.cs
  DfE.FindInformationAcademiesTrusts.Data/Academy.cs
  DfE.FindInformationAcademiesTrusts.Data/IFreeSchoolMealsAverageProvider.cs
  DfE.FindInformationAcademiesTrusts.Data/ITrustProvider.cs
  DfE.FindInformationAcademiesTrusts.Data/Repositories/Trust/Governor.cs
  DfE.FindInformationAcademiesTrusts.Data/Trust.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Details.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/FreeSchoolMeals.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/OfstedRatings.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/PupilNumbers.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  DfE.FindInformationAcademiesTrusts/Services/Trust/TrustGovernanceServiceModel.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Factories/AcademyFactoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Factories/GovernorFactoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Factories/PersonFactoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Factories/TrustFactoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/TrustProviderTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.UnitTests/AcademyTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.UnitTests/Mocks/DummyAcademyFactory.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.UnitTests/Mocks/DummyGovernorFactory.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.UnitTests/Mocks/DummyTrustFactory.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/AcademiesDetailsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/AcademiesPageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/FreeSchoolMealsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/OfstedRatingsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/PupilNumbersModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Contacts/EditContactModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Contacts/EditSfsoLeadModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Contacts/EditTrustRelationshipManagerModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/ContactsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/DetailsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/GovernanceModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/OverviewModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/TrustsAreaModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Mock new services in export tests
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Adding tests for percentage full calculation
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Updated changelog to reflect trust provider and export changes
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Removed unused variables
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/AcademiesPageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Create record for ExternalServiceLinks
  DfE.FindInformationAcademiesTrusts.Data/ExternalServiceLink.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add ExternalServiceLinks to view constants
  DfE.FindInformationAcademiesTrusts/Pages/ViewConstants.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update the index page layout Reference the view constants for service links
  DfE.FindInformationAcademiesTrusts/Pages/Index.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update CHANGELOG
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Exclude code from unneccesary coverage checks
  DfE.FindInformationAcademiesTrusts.Data/ExternalServiceLink.cs
  DfE.FindInformationAcademiesTrusts/Pages/ViewConstants.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Change anti forgery token name
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update cookie delete method to makre sure the auth cookie is being removed
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update anti forgery cookie name on cookie page
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update cypress test to detect new cookie name
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/cookies.cy.ts
Owners: @CMurrell148

Update CHANGELOG
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add role requirement to authorisation
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Fix Privacy page having incorrect width
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms
