Repository DFE-Digital/find-information-about-academies-and-trusts, changes with the owners that CODEOWNERS names for each.
All owners: @dneed-nimble, @dynamictulip, @nwarms, @drizzlyowl, @stretch96, @CMurrell148

CODEOWNERS:

# This sets the default owner for all code.
* @dneed-nimble @dynamictulip @nwarms

# This sets the owner for DevOps related code
.github/workflows/* @drizzlyowl @stretch96
docker/* @drizzlyowl @stretch96
terraform/* @drizzlyowl @stretch96

# This sets the owner for Cypress tests.
tests/DFE.FindInformationAcademiesTrusts.CypressTests/ @CMurrell148

Update changelog with no-access page changes
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add integration tests project
  DfE.FindInformationAcademiesTrusts.sln
  Directory.Build.props
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/DfE.FindInformationAcademiesTrusts.IntegrationTests.csproj
Owners: @dneed-nimble, @dynamictulip, @nwarms

WIP - add test
  DfE.FindInformationAcademiesTrusts/Program.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/BasicTests.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/DfE.FindInformationAcademiesTrusts.IntegrationTests.csproj
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update the oftsed rating cell to use overall effectiveness instead of the old ofstead score
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/_OfstedRatingCell.cshtml.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update the export service touse the new ofsted record
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update the academy repository to use the updated ofsted rating
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/AcademyRepository.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update the overview page to use overall effectiveness instead of the old ofstead score
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Overview.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add additional scores to ofsted rating
  DfE.FindInformationAcademiesTrusts.Data/OfstedRating.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Create MisEstablishmentFactory and MisFurtherEstblishmentFactory for testing
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Factory/MisEstablishmentFactory.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Factory/MisFurtherEstablishmentFactory.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update CHANGELOG
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Create the Ofsted Result Factory for use in testing the Academy Repository
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Factory/OfstedResultFactory.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update multiple tests to use the new ofsted record
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/AcademyRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/OfstedRatingCellModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/OfstedRatingsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/AcademyServiceTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add unauthorised and unauthenticated tests
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/BasicTests.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/DfE.FindInformationAcademiesTrusts.IntegrationTests.csproj
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/UnauthenticatedUserTests.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/UnauthorisedUserTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Use a base test decorated with a collection to force tests to run synchronously
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/AuthenticationHandlers/UnauthorisedUserAuthenticationHandler.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/Base/BaseIntegrationTest.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/Base/UseWebApplicationFactory.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/UnauthenticatedUserTests.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/UnauthorisedUserTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Modify UnauthorisedUser claims to contain name and email
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/AuthenticationHandlers/UnauthorisedUserAuthenticationHandler.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add authorised user tests
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/AuthenticationHandlers/AuthorisedUserAuthenticationHandler.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/AuthorisedUserTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Start moving urls to common area
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/FiatPages.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/UnauthenticatedUserTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Default automated tests user to have the AuthorisedFiatUser role
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Authorization/AutomationAuthorizationHandlerTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Try adding test to check `Authorize` is enabled on endpoints
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/DfE.FindInformationAcademiesTrusts.IntegrationTests.csproj
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/PageSecurityTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

add further tests
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/home-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/homePage.ts
Owners: @CMurrell148

add home page landing tests
  DfE.FindInformationAcademiesTrusts/Pages/Index.cshtml
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/home-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/homePage.ts
Owners: @dneed-nimble, @dynamictulip, @nwarms, @CMurrell148

add additional tests
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/home-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/homePage.ts
Owners: @CMurrell148

Auto-generate routes for unauthenticated user tests
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/FiatPages.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/UnauthenticatedUserTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Rename unauthenticated tests
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/DefaultAppAuthenticationTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Remove Edit Contacts feature flag from feature flag strings
  DfE.FindInformationAcademiesTrusts/Configuration/FeatureFlags.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Remove feature gate from the pages
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts/EditSfsoLead.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts/EditTrustRelationshipManager.cshtml.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Remove Edit Contacts feature flag from app settings
  DfE.FindInformationAcademiesTrusts/appsettings.json
Owners: @dneed-nimble, @dynamictulip, @nwarms

Remove the EditContact feature flags documentation
  docs/feature-flags.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update CHANGELOG
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Use generated routes in Unauthorised
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/DefaultAppAuthenticationTests.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/FiatPages.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/UnauthorisedUserTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Added governance turnover to governance page
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Governance.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Governance.cshtml.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/GovernanceModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Added release notes
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Test by endpoint rather than all urls
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/DefaultAppAuthenticationTests.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/FiatPages.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/UnauthorisedUserTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Use Fact rather than Theory for health checks
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/DefaultAppAuthenticationTests.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/UnauthorisedUserTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Use auto-endpoints for authorised user
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/AuthorisedUserTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Use custom webapplicationfactory with mocked services
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/ApplicationWithMockedServices.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/AuthorisedUserTests.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/Base/BaseIntegrationTest.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/Base/UseApplicationWithMockedServices.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/DefaultAppAuthenticationTests.cs
  tests/DfE.FindInformationAcademiesTrusts.IntegrationTests/UnauthorisedUserTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Send test user information via the `x-user-context` header
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/auth/authenticationInterceptor.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/support/commands.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/support/e2e.ts
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Authorization/AutomationAuthorizationHandlerTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms, @CMurrell148

Add no access page UI tests
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/no-access-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/noAccessPage.ts
Owners: @CMurrell148

Default automated tests user to have the AuthorisedFiatUser role
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Authorization/AutomationAuthorizationHandlerTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move `AutomationAuthorizationHandler` to be in the authentication section
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms
