Repository DFE-Digital/find-information-about-academies-and-trusts, changes with the owners that CODEOWNERS names for each.
All owners: @dynamictulip, @SteBradbury, @drizzlyowl, @stretch96, @CMurrell148

CODEOWNERS:

# This sets the default owner for all code.
* @dynamictulip @SteBradbury

# This sets the owner for DevOps related code
.github/workflows/* @drizzlyowl @stretch96 @dynamictulip @SteBradbury
docker/* @drizzlyowl @stretch96 @dynamictulip @SteBradbury
terraform/* @drizzlyowl @stretch96 @dynamictulip @SteBradbury

# This sets the owner for Cypress tests.
tests/DFE.FindInformationAcademiesTrusts.CypressTests/ @CMurrell148 @dynamictulip @SteBradbury

add closed school and academy tests to school nav
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/navigation/schools-navigation.cy.ts
Owners: @CMurrell148, @dynamictulip, @SteBradbury

changes to header colour
  DfE.FindInformationAcademiesTrusts/assets/sass/_components.scss
  DfE.FindInformationAcademiesTrusts/assets/sass/_variables.scss
Owners: @dynamictulip, @SteBradbury

add header trust link positive and negative test and supporting POs
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/navigation/schools-navigation.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/schools/schoolsPage.ts
Owners: @CMurrell148, @dynamictulip, @SteBradbury

linter fix
  DfE.FindInformationAcademiesTrusts/assets/sass/_variables.scss
Owners: @dynamictulip, @SteBradbury

removed redundant academyName from school const
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/navigation/schools-navigation.cy.ts
Owners: @CMurrell148, @dynamictulip, @SteBradbury

changes to use the header styling for school/academy including the link back to the trust
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/AcademyRepository.cs
  DfE.FindInformationAcademiesTrusts.Data/Repositories/Academy/IAcademyRepository.cs
  DfE.FindInformationAcademiesTrusts/Pages/Schools/ISchoolAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Schools/Overview/Details.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Schools/Overview/OverviewAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Schools/SchoolAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Schools/_SchoolBanner.cshtml
  DfE.FindInformationAcademiesTrusts/Services/Trust/TrustService.cs
  DfE.FindInformationAcademiesTrusts/assets/sass/_components.scss
  DfE.FindInformationAcademiesTrusts/assets/sass/_variables.scss
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/AcademyRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Schools/BaseSchoolPageTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Schools/Overview/BaseOverviewAreaModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Schools/Overview/DetailsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/TrustServiceTests.cs
Owners: @dynamictulip, @SteBradbury

Remove references to CDM db schema
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.CdmAccount.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.CdmSystemusers.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.cs
Owners: @dynamictulip, @SteBradbury

add date checker from ofsted into a common page and use for AiT
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/trustAcademiesPage/academies-in-trust.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/commonPage.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/academiesInTrustPage.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/ofstedPage.ts
Owners: @CMurrell148, @dynamictulip, @SteBradbury

test improvements
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/AcademyServiceTests.cs
Owners: @dynamictulip, @SteBradbury

fix for column width for Date joined
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/Details.cshtml
Owners: @dynamictulip, @SteBradbury

added date joined and removed (England/Wales) from urban rural
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/AcademyRepository.cs
  DfE.FindInformationAcademiesTrusts.Data/Repositories/Academy/AcademyDetails.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/Details.cshtml
  DfE.FindInformationAcademiesTrusts/Services/Academy/AcademyDetailsServiceModel.cs
  DfE.FindInformationAcademiesTrusts/Services/Academy/AcademyService.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/InTrust/DetailsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/AcademyServiceTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServices/AcademiesExportServiceTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServices/OfstedDataExportServiceTests.cs
Owners: @dynamictulip, @SteBradbury

add automation tests and updates
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/trustAcademiesPage/academies-in-trust.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/academiesInTrustPage.ts
Owners: @CMurrell148, @dynamictulip, @SteBradbury

Fix tests broken after merge from main
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/AcademyRepositoryTests.cs
Owners: @dynamictulip, @SteBradbury

Add `AddGiasGroupForFederation` to `MockAcademiesDbContext`
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
Owners: @dynamictulip, @SteBradbury

Move filters to be alongside relevant context and use consistent pattern to declare them
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.GiasEstablishmentLink.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.GiasGroup.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.GiasGroupLink.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.SharePointTrustDocLinks.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcadmiesDbContext.Filters.cs
Owners: @dynamictulip, @SteBradbury

Add cypress test to ensure that uids belonging to closed trusts or other types of groups are redirected to page not found
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/navigation/schools-navigation.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/navigation/trust-academies-navigation.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/navigation/trust-navigation.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/commonPage.ts
Owners: @CMurrell148, @dynamictulip, @SteBradbury

Add trust extension for GiasGroupLink and use it in `GetTrustUidFromAcademyUrnAsync`
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Extensions/IQueryableExtensions.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/AcademyRepository.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Extensions/IQueryableExtensionsTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/AcademyRepositoryTests.cs
Owners: @dynamictulip, @SteBradbury

Use global query filters in MockAcademiesDbContext.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/TrustRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/TrustSearchTests.cs
Owners: @dynamictulip, @SteBradbury

Update `GiasGroupQueryFilter` to include PROPOSED_TO_CLOSE
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.GiasGroup.cs
Owners: @dynamictulip, @SteBradbury

Differentiate GIAS groups added for a trust
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/AcademyRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/TrustDocumentRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/TrustRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/TrustSearchTests.cs
Owners: @dynamictulip, @SteBradbury

Update `GiasGroupLink` to include null check for `GroupUid`
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.GiasGroupLink.cs
Owners: @dynamictulip, @SteBradbury

Remove SAT/MAT filters from global filters and add extension method to include them where needed
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.GiasGroup.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Extensions/IQueryableExtensions.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/AcademyRepository.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/TrustDocumentRepository.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/TrustRepository.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/TrustSearch.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Extensions/IQueryableExtensionsTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
Owners: @dynamictulip, @SteBradbury

GroupId cannot be null for a trust so remove logic to handle the null scenario in `GetTrustReferenceNumberAsync`
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/TrustRepository.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/TrustRepositoryTests.cs
Owners: @dynamictulip, @SteBradbury

Add tests to ensure that only trusts are returned where relevant
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/AcademyRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/TrustRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/TrustSearchTests.cs
Owners: @dynamictulip, @SteBradbury

Add unit tests for the Query filters
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Contexts/GiasEstablishmentLinkQueryFilterTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Contexts/GiasEstablishmentsQueryFilterTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Contexts/GiasGroupLinkQueryFilterTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Contexts/GiasGroupQueryFilterTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Contexts/SharepointTrustDocLinkQueryFilterTests.cs
Owners: @dynamictulip, @SteBradbury

Update `GiasGroupLinkQueryFilter` to include PROPOSED_TO_CLOSE
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Contexts/AcademiesDbContext.GiasGroupLink.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Contexts/GiasGroupLinkQueryFilterTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockDbSet.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/AcademyRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/OfstedRepositoryTests.cs
Owners: @dynamictulip, @SteBradbury

Update MockAcademiesDbContext.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
Owners: @dynamictulip, @SteBradbury

Update CHANGELOG.md
  CHANGELOG.md
Owners: @dynamictulip, @SteBradbury

comment out fail scenario test for now
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/navigation/trust-navigation.cy.ts
Owners: @CMurrell148, @dynamictulip, @SteBradbury

fix grammar issues and update empty gov data candidate as old one is now closed
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/cookies.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/navigation/trust-navigation.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/search-results-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/governance-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/ofsted-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/trustAcademiesPage/academies-in-trust.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/trustAcademiesPage/pipeline-academies.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/cookiesPage.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/homePage.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/navigation.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/searchPage.ts
Owners: @CMurrell148, @dynamictulip, @SteBradbury

added overview of academy and school
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/SchoolRepository.cs
  DfE.FindInformationAcademiesTrusts.Data/Repositories/School/ISchoolRepository.cs
  DfE.FindInformationAcademiesTrusts.Data/Repositories/School/SchoolDetails.cs
  DfE.FindInformationAcademiesTrusts/Pages/OtherServicesLinkBuilder.cs
  DfE.FindInformationAcademiesTrusts/Pages/Schools/Overview/Details.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Schools/Overview/Details.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Schools/Overview/OverviewAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/Details.cshtml
  DfE.FindInformationAcademiesTrusts/Services/School/NurseryProvision.cs
  DfE.FindInformationAcademiesTrusts/Services/School/SchoolOverviewDetailsService.cs
  DfE.FindInformationAcademiesTrusts/Services/School/SchoolOverviewServiceModel.cs
  DfE.FindInformationAcademiesTrusts/Setup/Dependencies.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/SchoolRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Extensions/NurseryProvisionExtensionsTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/OtherServicesLinkBuilderTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Schools/BaseSchoolPageTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Schools/Overview/DetailsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/SchoolOverviewDetailsServiceTests.cs
Owners: @dynamictulip, @SteBradbury

unit test fixes
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/SchoolRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/OtherServicesLinkBuilderTests.cs
Owners: @dynamictulip, @SteBradbury

fixes for sonar
  DfE.FindInformationAcademiesTrusts/Pages/OtherServicesLinkBuilder.cs
  DfE.FindInformationAcademiesTrusts/Services/School/SchoolOverviewDetailsService.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/SchoolRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/SchoolOverviewDetailsServiceTests.cs
Owners: @dynamictulip, @SteBradbury

test improvements
  DfE.FindInformationAcademiesTrusts/Services/School/SchoolOverviewDetailsService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Schools/BaseSchoolPageTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Schools/Overview/BaseOverviewAreaModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/SchoolOverviewDetailsServiceTests.cs
Owners: @dynamictulip, @SteBradbury

made GetNurseryProvision method static
  DfE.FindInformationAcademiesTrusts/Services/School/SchoolOverviewDetailsService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/SchoolOverviewDetailsServiceTests.cs
Owners: @dynamictulip, @SteBradbury

Set the default SQL Server maintenance window variable
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @drizzlyowl, @stretch96, @dynamictulip, @SteBradbury

Set default SKU name for SQL Server
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @drizzlyowl, @stretch96, @dynamictulip, @SteBradbury

add testdataids for cypress tests
  DfE.FindInformationAcademiesTrusts/Pages/Schools/Overview/Details.cshtml
Owners: @dynamictulip, @SteBradbury

setup page object for cypress tests
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/schools/schoolsPage.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/support/test-data-store.ts
Owners: @CMurrell148, @dynamictulip, @SteBradbury

add schools > overview > details tests
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/schools/common-school-page-components.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/schools/schools-overview-pages.cy.ts
Owners: @CMurrell148, @dynamictulip, @SteBradbury
