Repository DFE-Digital/find-information-about-academies-and-trusts, changes with the owners that CODEOWNERS names for each.
All owners: @dneed-nimble, @dynamictulip, @nwarms, @drizzlyowl, @stretch96, @CMurrell148

Remove ExcludeFromCodeCoverage from test container covered files
  DfE.FindInformationAcademiesTrusts.Data.FiatDb/Contexts/FiatDbContext.cs
  DfE.FindInformationAcademiesTrusts.Data.FiatDb/Contexts/SetChangedByInterceptor.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Rewrite contacts repository tests to use real fiat db context
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockFiatDbContext.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/Repositories/ContactRepositoryTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Create 0013-private-gias-trust-contacts-data.md
  docs/adrs/0013-private-gias-trust-contacts-data.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

addressed mdlinting
  docs/adrs/0013-private-gias-trust-contacts-data.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add ADR for temporal tables
  docs/adrs/0014-use-sql-server-temporal-tables.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add ADR for migrations on docker start
  docs/adrs/0016-run-fiat-database-migrations-on-docker-container-start.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add ADR for test containers
  docs/adrs/0015-use-test-containers-to-unit-test-fiat-database.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update 0013-private-gias-trust-contacts-data.md
  docs/adrs/0013-private-gias-trust-contacts-data.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update cypress project package lock
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/package-lock.json
Owners: @CMurrell148

Update CHANGELOG
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Create TrustContact page object model
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/trustContactsPage.ts
Owners: @CMurrell148

Create initial trust contact page test
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/trust-contact-page.cy.ts
Owners: @CMurrell148

Rename HeaderRequirementHandler to AutomationAutherizationHandler Update behaviour to add claims to automation users
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Authorization/AutomationAuthorizationHandlerTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Including Age Range in export
  CHANGELOG.md
  DfE.FindInformationAcademiesTrusts/Services/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Removed redundant method
  DfE.FindInformationAcademiesTrusts/Services/ExportService.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Reference the inter font in the sass imports Update the font family to use the inter font
  DfE.FindInformationAcademiesTrusts/assets/sass/_imports.scss
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update page search form to use the correct gov-uk-heading Was using the fallback font as it was the incorrect class name
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_PageSearchForm.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Import the inter-ui package for the inter font
  DfE.FindInformationAcademiesTrusts/package-lock.json
  DfE.FindInformationAcademiesTrusts/package.json
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update CHANGELOG
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Created ADR explaining why we chose to use NPM package to update font
  docs/adrs/0017-use-the-inter-font-npm-package.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Remove trailing space from adr 13
  docs/adrs/0013-private-gias-trust-contacts-data.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

add further doc content
  docs/automated-test-creation.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

added markdown format fix
  docs/adrs/0017-create-new-cypress-suite.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

add ADR for Cypress rework
  docs/adrs/0017-create-new-cypress-suite.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

update cypress docs
  docs/automated-test-creation.md
  docs/run-tests-locally.md
  docs/test-approach.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

fix markdown linting issues
  docs/adrs/0013-private-gias-trust-contacts-data.md
  docs/adrs/0017-create-new-cypress-suite.md
  docs/automated-test-creation.md
  docs/run-tests-locally.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update header search styling to fix font issues
  DfE.FindInformationAcademiesTrusts/assets/sass/components/_header-search.scss
Owners: @dneed-nimble, @dynamictulip, @nwarms

PR review updates
  docs/adrs/0017-create-new-cypress-suite.md
  docs/automated-test-creation.md
  docs/run-tests-locally.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

fixed lint error
  docs/automated-test-creation.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update TF Container App Module to v1.14.0
  terraform/.terraform.lock.hcl
  terraform/README.md
  terraform/container-apps-hosting.tf
Owners: @drizzlyowl, @stretch96

Update TF Container App Module to v1.13.0
  terraform/.terraform.lock.hcl
  terraform/README.md
  terraform/container-apps-hosting.tf
Owners: @drizzlyowl, @stretch96

Deploy Health Insights Azure Function
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @drizzlyowl, @stretch96

Update TF Container App Module to v1.13.0 (#536)
  terraform/.terraform.lock.hcl
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @drizzlyowl, @stretch96

Reference the inter font in the sass imports Update the font family to use the inter font
  DfE.FindInformationAcademiesTrusts/assets/sass/_imports.scss
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update CHANGELOG
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update side navigation scss to update font on the side navigation when mobile width
  DfE.FindInformationAcademiesTrusts/assets/sass/components/_side-navigation.scss
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update page search form to use the correct gov-uk-heading Was using the fallback font as it was the incorrect class name
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_PageSearchForm.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update header search styling to fix font issues
  DfE.FindInformationAcademiesTrusts/assets/sass/components/_header-search.scss
Owners: @dneed-nimble, @dynamictulip, @nwarms

Created ADR explaining why we chose to use NPM package to update font
  docs/adrs/0018-use-the-inter-font-npm-package.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Import the inter-ui package for the inter font
  DfE.FindInformationAcademiesTrusts/package-lock.json
  DfE.FindInformationAcademiesTrusts/package.json
Owners: @dneed-nimble, @dynamictulip, @nwarms

CODEOWNERS:

# This sets the default owner for all code.
* @dneed-nimble @dynamictulip @nwarms

# This sets the owner for DevOps related code
.github/workflows/* @drizzlyowl @stretch96
docker/* @drizzlyowl @stretch96
terraform/* @drizzlyowl @stretch96

# This sets the owner for Cypress tests.
tests/DFE.FindInformationAcademiesTrusts.CypressTests/ @CMurrell148
