Repository DFE-Digital/find-information-about-academies-and-trusts, changes with the owners that CODEOWNERS names for each.
All owners: @dneed-nimble, @dynamictulip, @nwarms, @drizzlyowl, @stretch96, @CMurrell148

Hide header and footer areas not accessible to users without FIAT access
  DfE.FindInformationAcademiesTrusts/Pages/Shared/BasePageModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Shared/ContentPageModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_Footer.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_Header.cshtml
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockHttpContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/ErrorModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Shared/BasePageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Shared/ContentPageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/GovernanceModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add no access page
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move authorised user role name into a static config class
  DfE.FindInformationAcademiesTrusts/Configuration/UserRoles.cs
  DfE.FindInformationAcademiesTrusts/Extensions/ClaimsPrincipleExtensions.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add check to see if User has access to FIAT
  DfE.FindInformationAcademiesTrusts/Extensions/ClaimsPrincipleExtensions.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move EnvironmentExtensions.cs into the Extensions folder
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  DfE.FindInformationAcademiesTrusts/Extensions/EnvironmentExtensions.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/EnvironmentExtensionsTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Make some basic content pages accessible to users not set up to use FIAT
  DfE.FindInformationAcademiesTrusts/Pages/Accessibility.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Accessibility.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move FIAT cookie names to static config class
  DfE.FindInformationAcademiesTrusts/Configuration/FiatCookies.cs
  DfE.FindInformationAcademiesTrusts/CookiesHelper.cs
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockHttpContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/CookiesModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Split out cookie mocks
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/CookiesHelperTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockHttpContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockRequestCookies.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockResponseCookies.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/CookiesModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Default automated tests user to have the AuthorisedFiatUser role
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Authorization/AutomationAuthorizationHandlerTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add more flexible mock user authentication setup
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockHttpContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Shared/BasePageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Shared/ContentPageModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Change `SameSite` setting for the login cookie to current Microsoft recommendation of `Lax`
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add redirect to no access page
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/NoAccessModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Reduce nested branching by checking for return url first
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/NoAccessModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add ADR
  docs/adrs/0020-handle-users-authorisation-state-with-roles.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Fix sonar issues in `AutomationAuthorizationHandler`
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

WIP - start adding automated tests and enhanced auth bypass for tests
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/auth/authenticationInterceptor.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/no-access-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/noAccessPage.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/support/commands.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/support/e2e.ts
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Authorization/AutomationAuthorizationHandlerTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms, @CMurrell148

Update index page to add wording that links open in new tabs
  DfE.FindInformationAcademiesTrusts/Pages/Index.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update CHANGELOG
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move `AutomationAuthorizationHandler` to be in the authentication section
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Share an anonymous page model between always accessible pages
  DfE.FindInformationAcademiesTrusts/Pages/Accessibility.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Accessibility.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Shared/AnonymousPageModel.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add check to see if User has access to FIAT
  DfE.FindInformationAcademiesTrusts/Extensions/ClaimsPrincipleExtensions.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Hide header and footer areas not accessible to users without FIAT access
  DfE.FindInformationAcademiesTrusts/Pages/Shared/BasePageModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Shared/ContentPageModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_Footer.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_Header.cshtml
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockHttpContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/ErrorModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Shared/BasePageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Shared/ContentPageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/GovernanceModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move EnvironmentExtensions.cs into the Extensions folder
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  DfE.FindInformationAcademiesTrusts/Extensions/EnvironmentExtensions.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/EnvironmentExtensionsTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add role requirement to authorisation
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Fix Privacy page having incorrect width
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add no access page
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Make some basic content pages accessible to users not set up to use FIAT
  DfE.FindInformationAcademiesTrusts/Pages/Accessibility.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Accessibility.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move authorised user role name into a static config class
  DfE.FindInformationAcademiesTrusts/Configuration/UserRoles.cs
  DfE.FindInformationAcademiesTrusts/Extensions/ClaimsPrincipleExtensions.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move FIAT cookie names to static config class
  DfE.FindInformationAcademiesTrusts/Configuration/FiatCookies.cs
  DfE.FindInformationAcademiesTrusts/CookiesHelper.cs
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockHttpContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/CookiesModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Change `SameSite` setting for the login cookie to current Microsoft recommendation of `Lax`
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add more flexible mock user authentication setup
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockHttpContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Shared/BasePageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Shared/ContentPageModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Split out cookie mocks
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/CookiesHelperTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockHttpContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockRequestCookies.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockResponseCookies.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/CookiesModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add redirect to no access page
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/NoAccessModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Reduce nested branching by checking for return url first
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/NoAccessModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add ADR
  docs/adrs/0020-handle-users-authorisation-state-with-roles.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Share an anonymous page model between always accessible pages
  DfE.FindInformationAcademiesTrusts/Pages/Accessibility.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Accessibility.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Shared/AnonymousPageModel.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Default automated tests user to have the AuthorisedFiatUser role
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Authorization/AutomationAuthorizationHandlerTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add no access page UI tests
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/no-access-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/noAccessPage.ts
Owners: @CMurrell148

Send test user information via the `x-user-context` header
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/auth/authenticationInterceptor.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/support/commands.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/support/e2e.ts
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Authorization/AutomationAuthorizationHandlerTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms, @CMurrell148

Move `AutomationAuthorizationHandler` to be in the authentication section
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

CODEOWNERS:

# This sets the default owner for all code.
* @dneed-nimble @dynamictulip @nwarms

# This sets the owner for DevOps related code
.github/workflows/* @drizzlyowl @stretch96
docker/* @drizzlyowl @stretch96
terraform/* @drizzlyowl @stretch96

# This sets the owner for Cypress tests.
tests/DFE.FindInformationAcademiesTrusts.CypressTests/ @CMurrell148
