Repository DFE-Digital/find-information-about-academies-and-trusts, changes with the owners that CODEOWNERS names for each.
All owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury, @drizzlyowl, @stretch96, @CMurrell148

CODEOWNERS:

# This sets the default owner for all code.
* @dneed-nimble @dynamictulip @nimblelinzi @SteBradbury

# This sets the owner for DevOps related code
.github/workflows/* @drizzlyowl @stretch96 @dneed-nimble @dynamictulip @nimblelinzi @SteBradbury
docker/* @drizzlyowl @stretch96 @dneed-nimble @dynamictulip @nimblelinzi @SteBradbury
terraform/* @drizzlyowl @stretch96 @dneed-nimble @dynamictulip @nimblelinzi @SteBradbury

# This sets the owner for Cypress tests.
tests/DFE.FindInformationAcademiesTrusts.CypressTests/ @CMurrell148 @dneed-nimble @dynamictulip @nimblelinzi @SteBradbury

Add headers for each pipeline academy section
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Fix free school project type and correct nullability of stage
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Models/Mstr/MstrFreeSchoolProject.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/PipelineEstablishmentRepository.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/DataSourceRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/PipelineEstablishmentRepository/GetAcademiesPipelineSummaryAsyncTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/PipelineEstablishmentRepository/PipelineEstablishmentRepositoryTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Order academies alphabetically
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Remove `FeatureFlags.PipelineAcademies`
  DfE.FindInformationAcademiesTrusts/Configuration/FeatureFlags.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/AcademiesAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/AcademiesInTrustAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/Details.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/FreeSchoolMeals.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/InTrust/PupilNumbers.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/FreeSchools.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PipelineAcademiesAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PostAdvisoryBoard.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Pipeline/PreAdvisoryBoard.cshtml.cs
  DfE.FindInformationAcademiesTrusts/appsettings.json
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/BaseAcademiesAreaModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/InTrust/DetailsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/InTrust/FreeSchoolMealsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/InTrust/PupilNumbersModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/Pipeline/FreeSchoolsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/Pipeline/PostAdvisoryBoardModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/Pipeline/PreAdvisoryBoardModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

update no data trust to a new one as the old has been removed
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/governance-page.cy.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Fix free school project type and correct nullability of stage
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Models/Mstr/MstrFreeSchoolProject.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/PipelineEstablishmentRepository.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/DataSourceRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/PipelineEstablishmentRepository/GetAcademiesPipelineSummaryAsyncTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/PipelineEstablishmentRepository/PipelineEstablishmentRepositoryTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Add headers for each pipeline academy section
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

pagination test update to new search result returned number
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/pagination.cy.ts
Owners: @CMurrell148, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Add release 21 to CHANGELOG.md
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Container app Terraform module update to v1.17.1
  terraform/.terraform.lock.hcl
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @drizzlyowl, @stretch96, @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Use consts for common headings
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury

Fix free school project type and correct nullability of stage
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Models/Mstr/MstrFreeSchoolProject.cs
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/Repositories/PipelineEstablishmentRepository.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Mocks/MockAcademiesDbContext.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/DataSourceRepositoryTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/PipelineEstablishmentRepository/GetAcademiesPipelineSummaryAsyncTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/Repositories/PipelineEstablishmentRepository/PipelineEstablishmentRepositoryTests.cs
Owners: @dneed-nimble, @dynamictulip, @nimblelinzi, @SteBradbury
