Repository DFE-Digital/find-information-about-academies-and-trusts, changes with the owners that CODEOWNERS names for each.
All owners: @dneed-nimble, @dynamictulip, @nwarms, @drizzlyowl, @stretch96, @CMurrell148

CODEOWNERS:

# This sets the default owner for all code.
* @dneed-nimble @dynamictulip @nwarms

# This sets the owner for DevOps related code
.github/workflows/* @drizzlyowl @stretch96
docker/* @drizzlyowl @stretch96
terraform/* @drizzlyowl @stretch96

# This sets the owner for Cypress tests.
tests/DFE.FindInformationAcademiesTrusts.CypressTests/ @CMurrell148

Update _TrustLayout to render the trust page message
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/_TrustLayout.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update ContactRepository change behaviour when creating a contact when one does not exist, now returns correct modified fields
  DfE.FindInformationAcademiesTrusts.Data.FiatDb/Repositories/ContactRepository.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update Contacts page to move the success message into a section
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Create ContactRoleExtensionsTest
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Extensions/ContactRoleExtensionsTest.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update ContactsModelTests to update the trm spelling
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/ContactsModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move DataSourceListEntry to its own file
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/ITrustsAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Services/DataSource/DataSourceListEntry.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update ContactRoleExtensions change trm wording to include regions group
  DfE.FindInformationAcademiesTrusts/Extensions/ContactRoleExtensions.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update EditContactModel change validation error message and add details to end of page name
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts/EditContactModel.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update EditSfsoLeadModelTests to update page name
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Contacts/EditSfsoLeadModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update _SourceList to use the new last updated text member
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/_SourceList.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update EditTrustRelationshipManagerModelTests Add regions group to trm wording
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Contacts/EditTrustRelationshipManagerModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Create DataSourceListEntryTest to check the last updated text is working Update DataSourceServiceTests to stop namespace conflict with new test
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/DataSource/DataSourceListEntryTest.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/DataSourceServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update ContactRepositoryTests to check for create contact behaviour
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/Repositories/ContactRepositoryTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move cypress base url to github workflow step env
  .github/workflows/test-automated-ui.yml
Owners: @drizzlyowl, @stretch96

Diasable cypress linting temporarily
  .github/workflows/continuous-integration-lint.yml
Owners: @drizzlyowl, @stretch96

add auth process into yml env variable rather than npm command
  .github/workflows/test-automated-ui.yml
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress.config.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/auth/authenticationInterceptor.ts
Owners: @drizzlyowl, @stretch96, @CMurrell148

added check that folder exists before trying to read files within
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress.config.ts
Owners: @CMurrell148

Ignore Governance test fail for now until bug is resolved
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/governance-page.cy.ts
Owners: @CMurrell148

Added the ability to search by exact TRN
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/TrustSearch.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/TrustSearchTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Lowering search term to ensure case insensitivity
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/TrustSearch.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Added correct copy to search (includes TRNs now)
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_PageSearchForm.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Added correct copy to search (includes TRNs now)
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_PageSearchForm.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Lowering search term to ensure case insensitivity
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/TrustSearch.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Added the ability to search by exact TRN
  DfE.FindInformationAcademiesTrusts.Data.AcademiesDb/TrustSearch.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/TrustSearchTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Added automation tests
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/search-results-page.cy.ts
Owners: @CMurrell148

Updated changelog with search by TRN
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Added test cases for TRN search (header & partial)
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/header-search-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/search-results-page.cy.ts
Owners: @CMurrell148

Added slightly more specificity to cypress test on partial TRN
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/search-results-page.cy.ts
Owners: @CMurrell148

Update CHANGELOG
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Adjusted help text for search
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_PageSearchForm.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Release 9 notes
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

regions group trust relationship manager now just trust relationship manager
  DfE.FindInformationAcademiesTrusts/Extensions/ContactRoleExtensions.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Contacts/EditTrustRelationshipManagerModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/ContactsModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

revert changelog for trm change
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update dotnet-stryker tool
  .config/dotnet-tools.json
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add seed data to contacts tests
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/BaseFiatDbTest.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/Contexts/FiatDbContextTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Remove IFiatDbContext
  DfE.FindInformationAcademiesTrusts.Data.FiatDb/Contexts/FiatDbContext.cs
  DfE.FindInformationAcademiesTrusts.Data.FiatDb/Repositories/ContactRepository.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update unit test dependencies to be consistent and up to date
  tests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests/DfE.FindInformationAcademiesTrusts.Data.AcademiesDb.UnitTests.csproj
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests.csproj
  tests/DfE.FindInformationAcademiesTrusts.Data.Hardcoded.UnitTests/DfE.FindInformationAcademiesTrusts.Data.Hardcoded.UnitTests.csproj
  tests/DfE.FindInformationAcademiesTrusts.Data.UnitTests/DfE.FindInformationAcademiesTrusts.Data.UnitTests.csproj
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/DfE.FindInformationAcademiesTrusts.UnitTests.csproj
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add test containers for FiatDb tests
  DfE.FindInformationAcademiesTrusts.Data.FiatDb/Contexts/FiatDbContext.cs
  DfE.FindInformationAcademiesTrusts.Data.FiatDb/Contexts/SetChangedByInterceptor.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/BaseFiatDbTest.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/Contexts/FiatDbContextTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/Contexts/SetChangedByInterceptorTests.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests.csproj
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/GlobalUsings.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/TestContainer/FiatDbContainerFixture.cs
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/TestContainer/UseFiatDbContainer.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Configure Stryker to ignore test-container tests
  .github/workflows/continuous-integration-dotnet-and-sonar.yml
  stryker-config.json
  tests/DfE.FindInformationAcademiesTrusts.Data.FiatDb.UnitTests/BaseFiatDbTest.cs
Owners: @drizzlyowl, @stretch96, @dneed-nimble, @dynamictulip, @nwarms

Move coverage tool to tools manifest
  .config/dotnet-tools.json
  .github/workflows/continuous-integration-dotnet-and-sonar.yml
Owners: @dneed-nimble, @dynamictulip, @nwarms, @drizzlyowl, @stretch96
