Repository DFE-Digital/find-information-about-academies-and-trusts, changes with the owners that CODEOWNERS names for each.
All owners: @dneed-nimble, @dynamictulip, @nwarms, @drizzlyowl, @stretch96, @CMurrell148

Move authorised user role name into a static config class
  DfE.FindInformationAcademiesTrusts/Configuration/UserRoles.cs
  DfE.FindInformationAcademiesTrusts/Extensions/ClaimsPrincipleExtensions.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add no access page
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add check to see if User has access to FIAT
  DfE.FindInformationAcademiesTrusts/Extensions/ClaimsPrincipleExtensions.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Fix Privacy page having incorrect width
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move cookie names to static config class
  DfE.FindInformationAcademiesTrusts/Configuration/FiatCookies.cs
  DfE.FindInformationAcademiesTrusts/CookiesHelper.cs
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockHttpContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/CookiesModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Hide header and footer areas not accessible to users without FIAT access
  DfE.FindInformationAcademiesTrusts/Pages/Shared/BasePageModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Shared/ContentPageModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_Footer.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_Header.cshtml
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockHttpContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/ErrorModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Shared/BasePageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Shared/ContentPageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/GovernanceModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move EnvironmentExtensions.cs into the Extensions folder
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  DfE.FindInformationAcademiesTrusts/Extensions/EnvironmentExtensions.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/EnvironmentExtensionsTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add role requirement to authorisation
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Make some basic content pages accessible to users not set up to use FIAT
  DfE.FindInformationAcademiesTrusts/Pages/Accessibility.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Accessibility.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add login retry before redirect to access denied
  DfE.FindInformationAcademiesTrusts/Authorization/FiatCookieAuthenticationEvents.cs
  DfE.FindInformationAcademiesTrusts/Configuration/FiatCookies.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

resolved final sonarcloud errors
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/trust-contact-page.cy.ts
Owners: @CMurrell148

add negative checks to TRM and SFSO tests
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/e2e/regression/trusts/trust-contact-page.cy.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/commonPage.ts
  tests/DFE.FindInformationAcademiesTrusts.CypressTests/cypress/pages/trusts/trustContactsPage.ts
Owners: @CMurrell148

Amend cookie events to use dependency injection
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update cookies page with new cookie
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Default automated tests user to have the AuthorisedFiatUser role
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Authorization/AutomationAuthorizationHandlerTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update cookies page with new cookie
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Hide header and footer areas not accessible to users without FIAT access
  DfE.FindInformationAcademiesTrusts/Pages/Shared/BasePageModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Shared/ContentPageModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_Footer.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_Header.cshtml
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockHttpContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/ErrorModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Shared/BasePageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Shared/ContentPageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/GovernanceModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Amend cookie events to explicitly set cookie options
  DfE.FindInformationAcademiesTrusts/Authorization/FiatCookieAuthenticationEvents.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Default automated tests user to have the AuthorisedFiatUser role
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Authorization/AutomationAuthorizationHandlerTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add login retry before redirect to access denied
  DfE.FindInformationAcademiesTrusts/Authorization/FiatCookieAuthenticationEvents.cs
  DfE.FindInformationAcademiesTrusts/Configuration/FiatCookies.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add no access page
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/NoAccess.cshtml.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Make some basic content pages accessible to users not set up to use FIAT
  DfE.FindInformationAcademiesTrusts/Pages/Accessibility.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Accessibility.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Amend cookie events to use dependency injection
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add role requirement to authorisation
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move authorised user role name into a static config class
  DfE.FindInformationAcademiesTrusts/Configuration/UserRoles.cs
  DfE.FindInformationAcademiesTrusts/Extensions/ClaimsPrincipleExtensions.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Fix Privacy page having incorrect width
  DfE.FindInformationAcademiesTrusts/Pages/Privacy.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move cookie names to static config class
  DfE.FindInformationAcademiesTrusts/Configuration/FiatCookies.cs
  DfE.FindInformationAcademiesTrusts/CookiesHelper.cs
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml
  DfE.FindInformationAcademiesTrusts/Pages/Cookies.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Mocks/MockHttpContext.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/CookiesModelTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Move EnvironmentExtensions.cs into the Extensions folder
  DfE.FindInformationAcademiesTrusts/Authorization/AutomationAuthorizationHandler.cs
  DfE.FindInformationAcademiesTrusts/Extensions/EnvironmentExtensions.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/EnvironmentExtensionsTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Add check to see if User has access to FIAT
  DfE.FindInformationAcademiesTrusts/Extensions/ClaimsPrincipleExtensions.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Change `SameSite` setting for the login cookie to current Microsoft recommendation of `Lax`
  DfE.FindInformationAcademiesTrusts/Program.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

remove archive branches doc, as we're removing wiremock branch
  docs/archive-branches.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update CHANGELOG
  CHANGELOG.md
Owners: @dneed-nimble, @dynamictulip, @nwarms

Create contactsSummaryCard styling
  DfE.FindInformationAcademiesTrusts/assets/sass/components/_contactsSummaryCard.scss
Owners: @dneed-nimble, @dynamictulip, @nwarms

Import the conactSummaryCard Styling to the components
  DfE.FindInformationAcademiesTrusts/assets/sass/_components.scss
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update the contacts page to add the disclaimer text
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Create summary card disclaimer text partial
  DfE.FindInformationAcademiesTrusts/Pages/Shared/_SummaryCardDisclaimerText.cshtml
Owners: @dneed-nimble, @dynamictulip, @nwarms

Update Gov Uk frontend package to get the new crest in footer
  DfE.FindInformationAcademiesTrusts/package-lock.json
  DfE.FindInformationAcademiesTrusts/package.json
Owners: @dneed-nimble, @dynamictulip, @nwarms

Removal of export reliance on trust provider
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/AcademiesPageModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/Details.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/FreeSchoolMeals.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/OfstedRatings.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Academies/PupilNumbers.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts/EditContactModel.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts/EditSfsoLead.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Contacts/EditTrustRelationshipManager.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Details.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Governance.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/Overview.cshtml.cs
  DfE.FindInformationAcademiesTrusts/Pages/Trusts/TrustsAreaModel.cs
  DfE.FindInformationAcademiesTrusts/Program.cs
  DfE.FindInformationAcademiesTrusts/Services/Export/AcademiesExportServiceModel.cs
  DfE.FindInformationAcademiesTrusts/Services/Export/ExportService.cs
  DfE.FindInformationAcademiesTrusts/Services/ExportService.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/AcademiesDetailsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/AcademiesPageModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/FreeSchoolMealsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/OfstedRatingsModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Pages/Trusts/Academies/PupilNumbersModelTests.cs
  tests/DfE.FindInformationAcademiesTrusts.UnitTests/Services/ExportServiceTests.cs
Owners: @dneed-nimble, @dynamictulip, @nwarms

Bump deploy-azure-container-apps-action v3.0.0
  .github/workflows/deploy-to-environment.yml
Owners: @drizzlyowl, @stretch96

Bump deploy-azure-container-apps-action v3.0.0 (#569)
  .github/workflows/deploy-to-environment.yml
Owners: @drizzlyowl, @stretch96

CODEOWNERS:

# This sets the default owner for all code.
* @dneed-nimble @dynamictulip @nwarms

# This sets the owner for DevOps related code
.github/workflows/* @drizzlyowl @stretch96
docker/* @drizzlyowl @stretch96
terraform/* @drizzlyowl @stretch96

# This sets the owner for Cypress tests.
tests/DFE.FindInformationAcademiesTrusts.CypressTests/ @CMurrell148
